.gradle/
.kotlin/
**/build/
local.properties
.idea/
.signing/
artifacts/*.aab
*.iml
captures/
artifacts/*.apk
artifacts/*.mp4
artifacts/validation/history/
/*log*.txt
/device-tests*.txt
/final-*.txt
/*-build.txt
emulator-error.txt
/release-emulator*-error.txt
/bugfix-emulator-error.txt
/ui-a-emulator*-error.txt
/artifacts/*
!/artifacts/README.md
*.p12
*.jks
*.keystore
/feedback-emulator-error.txt
